.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 156px;
  gap: 24px;
  list-style: none;
}

.gallery-item{
  width: calc((100% - 24px*2) /3);
}

.gallery-image{
  max-width: 360px;
}